.header {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    padding: 72px 0;
}
.header .div-img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 12px;
}
.header .nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    z-index: 10;
    border-bottom: 1px solid #d9d9d9
}
.header .nav-top img {
    height: 60px;
}
.header .firstSect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}
.header .firstSect > div {
    position: relative;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.header .firstSect h1 {
    color: #fff;
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    z-index: 1;
    margin-bottom: 12px;
}
.header .unic2 {
    display: none;
}
.header .unic2,
.header .unic {
    background: red;
    font-weight: bold;
    color: #fff;
    border-radius: 4px 4px 0 0;
    padding: 12px 0;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}
.header .paragraph {
    max-width: 720px;
    color: #fff;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;

}
.header .video_player {
    width: 100%;
    height: 500px
}
.header .video_player2 {
    display: none;
}
@media (max-width: 425px) {
    .header {
        padding: 0 0;
        padding-top: 92px;
    }
    .header .div-img img {
        width: 90%;
    }
    .header .video_player {
        display: none;
    }
    .header .video_player2 {
        display: block;
        height: 400px;
        margin-top: -24px
    }
    .header .unic {
        display: none;
    }
    .header .unic2 {
        display: block;
        margin-top: -32px;
    }
    .header .firstSect h1 {
        font-size: 28px;
        padding: 0 12px;
        text-align: left;
    }
    .header .firstSect .paragraph {
        padding: 0 12px;
        margin-top: 12px;
        text-align: left;
        font-weight: 400;
    }
}