.main {
    width: 100%;
}
.main .card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;
}
.main .div-img .img {
    width: 100%;
}
.main .abs {
    position: absolute;
    top: -32px;
    right: 0;
    height: 100%;
}
.main .flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}
.main .comparisonIcon {
    position: absolute;
}
.main .logoBg {
    position: absolute;
    top: 24px;
    width: 100%;
    max-width: 1000px;
}
.main .top {
    margin-top: 120px;
}
.main .text {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.main .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main .review-div {
    gap: 56px;
    margin-top: 120px;
}
.main .review-div > img {
    width: 420px;
}
.main .reviews > img {
    margin-bottom: 24px;
    height: 270px;
}
.main .reviews > div > div {
    justify-content: flex-start;
}
.main .reviews > div > div h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: var(--bg-color);
}
.main .reviews p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--bg-color);
    max-width: 400px;
}
.main .text-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
    margin-top: 48px;
}
.main .checksec {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .text-bg h3 {
    position: absolute;
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    font-size: 166px;
    line-height: 100%;
    color: #fff;
    opacity: .15;
    /* identical to box height, or 166px */

    text-align: center;
}
.svg-arrow {
    position: absolute;
    right: 60px;
    bottom: 160px;
    z-index: 1000;
}
.main .price_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}
.main .price_group div {
    width: 260px;
    padding: 24px 12px;
    border-radius: 16px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    line-height: 130%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main .price_group div .btn {
    outline: none;
    background: linear-gradient(180deg, #FFE100 -0.3%, #FFDA00 8.68%, #FFD400 16.67%, #FFCD03 21.66%, #FFC709 25.66%, #FBAD18 46.62%, #F7941D 67.59%, #EF7F1F 83.56%, #EA6C20 99.53%);
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    padding: 12px 24px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}
.main .price_group div h2 {
    font-size: 30px;
    /* margin-top: 12px; */
    margin-bottom: 12px;
    font-size: 40px;
    font-style: 500;
    font-weight: 400;
    line-height: 146.5%; /* 80.637px */
}
.main .alert img {
    height: 100px;
}
.main .alert h5 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
    line-height: 130%;
}
.main .secSect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.main .priceDetails {
    color: #fff;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
    line-height: 130%;
}
.main .btnLast {
    background: linear-gradient(180deg, #FFE100 -0.3%, #FFDA00 8.68%, #FFD400 16.67%, #FFCD03 21.66%, #FFC709 25.66%, #FBAD18 46.62%, #F7941D 67.59%, #EF7F1F 83.56%, #EA6C20 99.53%);
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 12px 24px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}
@media (max-width: 1024px) {
    .main .wpp {
        width: 240px;
    }
    .main .flex {
        flex-wrap: wrap;
    }
    .main .abs {
        position: absolute;
        top: 120px;
        right: 0;
        height: 300px;
    }
}
@media (max-width: 425px) {
    .main .flex {
        flex-direction: column;
        align-items: center;
        padding: 12px;
    }
    .main .text {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .main .abs {
        max-width: 100%;
        height: 240px;
        top: -32px;
        bottom: 0;
        transform: translateY(102px)
    }
    .main .logoBg {
        width: 100%;
    }
    .main .wpp {
        width: 80%;
    }
    .main .review-div {
        margin-top: 40px;
    }
    .main .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .reviews > img {
        width: 100%;
        height: 100%;
        padding: 12px;
        margin-bottom: 0;
    }
    .main .reviews .flex {
        flex-direction: row;
    }
    .main .review-div > img {
        width: 100%;
        padding: 12px;
    }
    .main .last img {
        width: 200px
    }
    .review-div .stars {
        width: 70px
    }
    .main .price_group div {
        width: 90%;
    }   
}